{% load static %}
<!doctype html>
<html>
<head>
  <title>PUPPIESTORE</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'core/css/Stilos.css' %}">
  <link rel="shortcur icon" href="{% static 'core/img/logo1.png' %}" type="image/x-icon"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- logo -->
    <a class="navbar-brand" href="#">
      <img src="{% static 'core/img/logo1.png' %}" width="40" height="40" alt="">
    </a>
    
    <!-- enlaces -->
    
    <div class="collapse navbar-collapse"  id="opciones">   
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Principal</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home2.html">Quienes Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home3.html">Galeria De Fotos</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="contacto.html">Contacto</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="{% url  'login' %}">Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="productos.html">Productos</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="clientes.html">Clientes</a>
        </li>  
      </ul>
    </div>
   

  </nav>
  
  <div id="mapa-api">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9226736832516!2d-70.75462978537453!3d-33.51141610802866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dcd1fe0c7bab%3A0x4d17b82a7ba77488!2sDuoc%20UC%3A%20Sede%20Maipu!5e1!3m2!1ses!2scl!4v1651854602775!5m2!1ses!2scl"width="100%" height="500px" style="border:0;text-align: center;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
<script src="mapa-api.js"></script>
<script src=""></script>
<br>
<h1 class="titulo" >Edición De Contacto!</h1>



  <img align="left" class="pp" src="{% static 'core/img/Cachorro y gatito_xtrafondos.com.jpg' %}">
   <center>
  <fieldset>
    <form class="form" action="Registrar_contacto" id="formulario" method="post">
      {% csrf_token %}
      <br><br>
      &nbsp;&nbsp;
        <label for="Nombre">Nombre (*requerido)</label><br>&nbsp;
        &nbsp;<input type ="text" id="Nombre" name="Nombre" style="width: 80%; max-width: 100%;"
               placeholder="Nombre"  required pattern="[A-Za-z]{5,40}"> <br><br>
               &nbsp;&nbsp;
               <label for="Apellido">Apellido (*requerido)</label><br>&nbsp;
                &nbsp;<input type="text" id="Apellido" name="Apellido" style="width: 80%; max-width: 100%;"
               placeholder="Apellido" required pattern="[A-Za-z]{5,40}"> 
               <br><br>&nbsp;&nbsp;
               <label for="email">E-mail (*requerido)</label> <br>
               &nbsp;&nbsp; <input type="email" id="Email" name="Email" style="width: 80%; max-width: 100%;"
                      placeholder="Digite su email" required> 
                      <br><br>
                      
                      &nbsp;&nbsp;
        <label for="Asunto">Asunto (*opcional)</label><br>
         
        &nbsp;&nbsp; <input type ="text" id="Asunto" name="Asunto" style="width: 80%; max-width: 100%;"
               placeholder="Asunto.."><br><br><br>      
                 
               
      
               &nbsp;&nbsp;
        <label for="Asunto2">Que deseas contarnos? (*requerido)</label> <br>&nbsp;&nbsp;
        
        <input type="text" id="Asunto2" name="Asunto2" style="width: 80%; max-width: 100%; height: 130px;" placeholder="Danos tu opinion..." required/>
        
        
        
        <br><br>
        &nbsp;&nbsp;
        <button type="submit" >Enviar</button>
        <button type="reset" >Limpiar</button>
        
        <a href="Consultar-datos" class="btn btn-success">Consultar</a>
        
</form>
</fieldset>
</center>





 <br><br>

<!-- Footer -->
<footer id="foter" class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Nuestras redes sociales: &nbsp; <a href="#"><img width="30px" class="pelicula" src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook"> </a> &nbsp; &nbsp;
        <a href="#"><img width="30px" src="https://1000marcas.net/wp-content/uploads/2019/11/Twitter-logo-500x406.png" alt="Twitter"> </a> &nbsp; &nbsp;
        <a href="#"><img width="30px" src="https://1000marcas.net/wp-content/uploads/2019/11/Instagram-logo-500x500.png" alt="Instagram"> </a>


      </span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Tienda Online Puppies.cl
          </h6>Puppies.cl es una tienda online enfocada en productos para el bienestar animal, realizamos envíos a todo Chile.</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Informacion
          </h6>
          <p>
            <a href="#!" class="text-reset">Preguntas Frecuentes</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Politica De Envio y devoluciones</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Condiciones de uso</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Politica de privacidad</a>
          </p>
          <p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Porque Comprar en Puppies.cl?
          </h6>
          <p>
            <a href="#!" class="text-reset">Productos de alta calidad</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Despachos a todo chile y directo a la puerta de tu casa</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Excelente servicio al cliente.</a>
          </p>
          <p>
            <a href="#!" class="text-reset">satisfacción Garantizada</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Servicio al cliente
          </h6>
          <p><i class="fas fa-home me-3"></i> Telefono: 988029417</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            Puppiesinfo@gmail.com
          </p>
          <p><i class="fas fa-print me-3"></i> Santiago de chile,maip&uacute;,CL</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Puppies © 2022 Copyright: Made with  All Rights Reserved.<br>
    Anais Felipe Diego Jesus
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->




          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>
</html>